{% extends 'base.html' %}

{% set release_group = review.release_group | release_group_details %}

{% block title %}
{% set release_group_title = release_group.title | default(_('[Unknown release group]')) %}
{{ _('Edit review of "%(rg)s"', rg=release_group_title) }} - CritiqueBrainz
{% endblock %}

{% block content %}
  <h2>{{ _('Editing review') }}</h2>
  <hr />

  {% for field in form.errors %}
    {% for error in form.errors[field] %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
  {% endfor %}

  <div class="row">
    <div class="col-md-10">
      <dl class="dl-horizontal">
        <dt>{{ _('Artist') }}</dt><dd>{{ release_group['artist-credit-phrase'] | default(_('[Unknown artist]')) }}</dd>
        <dt>{{ _('Release group') }}</dt>
        <dd>
          {{ release_group.title | default(_('[Unknown release group]')) }}
          {% if release_group['first-release-date'] %}
            <span class="text-muted">({{ release_group['first-release-date'][:4] }})</span>
          {% endif %}
        </dd>
        <dt>{{ _('Created on') }}</dt><dd>{{ review.created | date }}</dd>
        {% if not review.is_draft %}
          <dt>{{ _('Votes (+/-)') }}</dt><dd>{{ review.votes_positive_count }}/{{ review.votes_negative_count }}</dd>
        {% endif %}
        <dt>{{ _('Status') }}</dt>
        <dd>
          {% if review.is_draft %}
            <span class="label label-default">{{ _('Draft') }}</span>
          {% else %}
            <span class="label label-primary">{{ _('Published') }}</span>
          {% endif %}
        </dd>
      </dl>
    </div>
    <div class="col-md-2">
      <img id="cover-art" class="img-responsive" style="max-height:120px;max-width:120px;">
      <script>
        $("img").last()
            .on("error", function () { $(this).attr("src", "/static/img/missing-art.png"); })
            .attr("src", "//coverartarchive.org/release-group/{{ release_group.id }}/front-250");
      </script>
    </div>
  </div>

  <div class="clearfix">
    <ul class="nav nav-tabs" style="margin-bottom:-1px;">
      <li class="active"><a href="#write" data-toggle="tab">{{ _('Write') }}</a></li>
      <li><a href="#preview" data-toggle="tab">{{ _('Preview') }}</a></li>
      <small class="text-muted pull-right" style="margin-top:20px;font-style:italic;">
        {{ _('You can use <a href="%(url)s" target="_blank">Markdown</a> syntax to apply custom formatting.', url='http://daringfireball.net/projects/markdown/syntax') }}
      </small>
    </ul>
  </div>
  <form id="review-editor" method="POST" class="form-horizontal" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <div class="col-sm-12 tab-content">
        <div class="tab-pane fade in active" id="write">
          {{ form.text(id="review-content", class="form-control", rows="5") }}
        </div>
        <div class="tab-pane fade" id="preview" style="margin-top:20px;">
          <span class="text-muted">{{ _('Loading preview...') }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="review-language">{{ _('Please, specify language of this review:') }}</label>
      <div class="col-sm-8">{{ form.language(id="review-language", class="form-control") }}</div>
    </div>
    <hr />
    {% if review.is_draft %}
      <div class="form-group">
        <div class="col-sm-12">
          {% for choice in form.license_choice %}
            <div class="radio">
              <label>{{ choice }}{{ choice.label.text | safe }}</label>
            </div>
          {% endfor %}
          <br /><small class="text-warning"><em>{{ _('You cannot change the license after the review is published.') }}</em></small>
        </div>
      </div>
    {% endif %}
  </form>
  {% if review.is_draft %}
    <button id="btn-publish" class="btn btn-primary">{{ _('Publish') }}</button>
    <button id="btn-draft" class="btn btn-default">{{ _('Save draft') }}</button>
  {% else %}
    <button id="btn-publish" class="btn btn-primary">{{ _('Update') }}</button>
  {% endif %}
  <a class="btn btn-link" href="{{ url_for('review.entity', id=review.id) }}">{{ _('Discard changes') }}</a>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $(document).ready(function() {
      $("#btn-publish").click(function(){
        $("#state").attr('value', 'publish');
        $("#review-editor").submit();
      });
      {% if review.is_draft %}
        $("#btn-draft").click(function(){
          $("#state").attr('value', 'draft');
          $("#review-editor").submit();
        });
      {% endif %}

      // Preview tab functionality
      $(function() {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          if (e.target.hash.substring(1) == "preview") {
            var text = $("#review-content").val();
            if (!text) {
              $("#preview").html('<em class="text-muted">{{ _('Review is empty.') }}</em>');
            } else {
              $.ajax({
                type: "POST",
                url: "{{ url_for('review.preview') }}",
                data: { text: text },
                success: function(data) { $("#preview").html(data); },
                error: function() { $("#preview").html('<em class="text-danger">{{ _('Failed to load preview.') }}</em>'); }
              });
            }
          } else {
            $("#preview").html('<em class="text-muted">{{ _('Loading preview...') }}</em>');
          }
        });
      });
    });
  </script>
{% endblock %}
