{% extends 'base.html' %}

{% set release_group = review.release_group | release_group_details %}

{% block title %}
{% set release_group_title = release_group.title | default(_('[Unknown release group]')) %}
{{ _('Review of "%(rg)s" by %(user)s', rg=release_group_title, user=review.user.display_name) }} - CritiqueBrainz
{% endblock %}

{% block content %}
<div id="review-entity">
  <h2 id="title">
    {% if release_group %}
      {% set rg_name = '<a href="%s">'|safe % url_for('release_group.entity', id=review.release_group) ~ release_group.title ~ '</a>'|safe %}
    {% else %}
      {% set rg_name =  _('[Unknown release group]') %}
    {% endif %}

    {% if release_group['artist-credit'] %}
      {% set artist = [] %}
      {% for credit in release_group['artist-credit'] %}
        {% if credit.artist %}
          {% do artist.append('<a href="%s">'|safe % url_for('artist.entity', id=credit.artist.id) + credit.artist.name + '</a>'|safe) %}
        {% else %}
          {% do artist.append(credit) %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% set artist = _('[Unknown artist]') %}
    {% endif %}

    {{ _('%(album)s by %(artist)s', album = rg_name, artist = artist|join()) }}

    {% if release_group['first-release-date'] %}
      <small>{{ release_group['first-release-date'][:4] }}</small>
    {% endif %}
  </h2>

  <div id="review-content" class="row">
    <div id="sidebar" class="col-md-3">
      <img id="cover-art" class="img-responsive">
      <script>
        $("img").last()
            .on("error", function () { $(this).attr("src", "/static/img/missing-art.png"); })
            .attr("src", "//coverartarchive.org/release-group/{{ review.release_group }}/front-250");
      </script>

      <div id="spotify-play-button">
        {% if spotify_mappings %}
          <iframe src="https://embed.spotify.com/?uri={{ spotify_mappings[0] }}&theme=white"
                width="100%" height="80" frameborder="0" allowtransparency="true"></iframe>
        {% endif %}
      </div>
    </div>

    <div class="col-md-9">
      <h3>{{ _('Review by %(user)s', user = ('<img class="avatar" src="%s&s=24" /> '|safe % review.user.avatar) + ('<a href="%s">'|safe % url_for('user.reviews', user_id=review.user.id)) + review.user.display_name + '</a>'|safe) }}</h3>

      {% if review.is_draft %}
        <div class="alert alert-warning" role="alert">{{ _('<b>This review has not been published yet!</b> Only you can see it.') }}</div>
      {% else %}
        <em class="text-muted">{{ _('Published on %(date)s', date = review.created|date) }}</em><br />
        {% set votes_total = review.votes_positive_count + review.votes_negative_count %}
        <em class="text-muted">
          {% if votes_total > 0 %}
            {{ _('%s out of %s people have found this review useful' % (review.votes_positive_count, votes_total)) }}
          {% else %}
            {{ _('This review has not yet been rated') }}
          {% endif %}
        </em>
      {% endif %}

      <p style="word-wrap: break-word; white-space: pre-wrap;">{{ review.text_html|safe }}</p>

      <hr />

      <!-- Legal stuff -->
      <small class="text-muted">
        {% if review.license.info_url %}
        {% set license = '<a href="%s">%s</a>'|safe % (review.license.info_url, review.license.id ) %}
        {% else %}
        {% set license = review.license.key %}
        {% endif %}
        {{ _('This review is licensed under a %(name)s license.', name=license) }}
        {% if review.source %}
        {{ _('It was imported from %(source)s.', source = '<a href="%s">%s</a>'|safe % (review.source_url, review.source)) }}
        {% endif %}
      </small>

      <hr />

      <div>
        {% if current_user.is_authenticated() %}
          {% if current_user != review.user %}
            <div class="row">
              <div class="col-md-8">
                <form method="POST" action="{{ url_for('review.vote_submit', review_id=review.id) }}">
                  {% if vote == None %}
                    {{ _('Did you find this review useful?') }}
                    <button type="submit" class="btn btn-default btn-xs {% if vote.vote == False %}disabled{% endif %}" name="yes">{{ _('Yes') }}</button>
                    <button type="submit" class="btn btn-default btn-xs {% if vote.vote == True %}disabled{% endif %}" name="no">{{ _('No') }}</button>
                  {% else %}
                    {% if vote.vote == True %}
                      <span class="text-success">{{ _('You found this review useful.') }}</span>
                    {% else %}
                      <span class="text-warning">{{ _('You didn\'t find this review useful.') }}</span>
                    {% endif %}
                    <a href="{{ url_for('review.vote_delete', id=review.id) }}" class="btn btn-default btn-xs" title="{{ _('Delete your vote') }}"><span class="glyphicon glyphicon-trash"></span></a>
                  {% endif %}
                </form>
              </div>
              <div class="col-md-4" id="reporting">
                <a href="javascript:void(0)" onclick="$('.report-toggle').toggle()" class="report-toggle text-danger">{{ _('Report spam') }}</a>
                <span class="report-toggle" style="display:none">
                  {{ _('Report this review as spam?') }}
                  <a href="javascript:void(0)" onclick="report()" class="btn btn-default btn-xs" role="button">{{ _('Yes') }}</a>
                  <a href="javascript:void(0)" onclick="$('.report-toggle').toggle()" class="btn btn-default btn-xs" role="button">{{ _('No') }}</a>
                </span>
                <span id="report-result" class="text-muted" style="display:none">{{ _('Reporting...') }}</span>
              </div>
            </div>
          {% else %}
            <a href="{{ url_for('review.edit', id=review.id) }}"
               role="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span> {{ _('Edit this review') }}
            </a>
          {% endif %}
        {% else %}
          {{ _('<a href="%(link)s">Sign in</a> to rate this review', link=url_for('login.index', next=url_for('review.entity', id=review.id))) }}
        {% endif %}
      </div>

      <!-- Sharing -->
      {% if not review.is_draft %}
        {% include 'sharing.html' %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% if current_user.is_authenticated() and current_user != review.user %}
  {% block scripts %}
    {{ super() }}
    <script>
      function report() {
        var resultBlock = $("#report-result");
        resultBlock.show();
        $(".report-toggle").hide();
        $.ajax({
          type: "POST",
          url: "{{ url_for('review.report', id=review.id) }}",
          success: function(result) {
            resultBlock.removeClass('text-muted');
            if (result.success) {
              resultBlock.text("{{ _('Review reported!') }}");
              resultBlock.addClass('text-success');
            } else {
              if (result.error == "reported") {
                resultBlock.text("{{ _('You have already reported this review!') }}");
              } else {
                resultBlock.text("{{ _('Unknown error occurred!') }}");
                console.log(result.error)
              }
              resultBlock.addClass('text-danger');
            }
          }
        });
      }
    </script>
  {% endblock %}
{% endif %}
