{% extends 'base.html' %}

{% block title %}{{ _('Spotify album mapping') }} - CritiqueBrainz{% endblock %}

{% block content %}
<h2>{{ _('Spotify album mapping') }}</h2>
<p class="lead">
  {% if release_group['first-release-date'] %}
    {% set album = '"%s" <span class="text-muted">(%s)</span>'|safe % (release_group.title, release_group['first-release-date'][:4]) %}
  {% else %}
    {% set album = '"%s"' % release_group.title %}
  {% endif %}

  {{ _('Please select the album %(album)s by %(artist)s, or provide a link to Spotify below.',
       album=album, artist=release_group['artist-credit-phrase']) }}
</p>
{% if search_results %}
  <div id="spotify-search-results" class="row">
    {% for item in search_results %}
    <div class="col-md-3">
      <div class="thumbnail">
        <div class="cover-art-container">
          <a href="{{ url_for('mapping.spotify_confirm', release_group_id=release_group.id, spotify_ref=item.uri) }}" class="match-link" data-toggle="tooltip" data-placement="bottom" title="This is the same album!" rel="nofollow">
            {% if item.images[0] %}
              <img class="img-responsive" src="{{ item.images[0].url }}" />
            {% else %}
              <img class="img-responsive" src="/static/img/missing-art.png" />
            {% endif %}
          </a>
        </div>
        <div class="caption">
          <div class="title">{{ item.name }}</div>
          <span class="text-muted">{{ item.album_type }}</span><br />
          <em><a href="{{ item.external_urls.spotify }}">{{ _('Listen on Spotify') }}</a></em><br />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if count > limit %}
    <div class="row">
      <div class="col-md-12">
        <ul class="pager">
          {% if page > 1 %}
            <li class="previous"><a href="{{ url_for('mapping.spotify', release_group_id=release_group.id, page=page-1) }}">&larr; {{ _('Previous') }}</a></li>
          {% endif %}
          {% if page-1 < count//limit %}
            <li class="next"><a href="{{ url_for('mapping.spotify', release_group_id=release_group.id, page=page+1) }}">{{ _('Next') }} &rarr;</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  {% endif %}
{% else %}
  <p class="lead" style="text-align:center; margin-top:20px;">{{ _('No similar albums found') }}</p>
{% endif %}

<hr />

<p>
  <p>{{ _('If you can\'t find the right album in search results, you can paste a Spotify link there:') }}</p>
  <form class="form-inline" role="form" action="{{ url_for('mapping.spotify_confirm', release_group_id=release_group.id) }}" method="GET">
    <div class="form-group">
      <input type="text" class="form-control input-sm" name="spotify_ref" placeholder="{{ _('Spotify URI or HTTP link') }}" size="40">
    </div>
    <button type="submit" class="btn btn-default btn-sm">{{ _('Submit') }}</button>
  </form>
  <br /><small class="text-muted">
    {{ _('A Spotify link should look like %(uri_example)s or %(link_example)s.',
         uri_example = '<code>spotify:album:3CCO9PhQXCQXUWjcEfys9B</code>' | safe,
         link_example = '<code>https://play.spotify.com/album/3CCO9PhQXCQXUWjcEfys9B</code>' | safe) }}
  </small>
</p>

<hr />

<p>
  <strong>
    {{ _('It\'s fine if you can\'t find the right album. It might not be available on Spotify yet.') }}
    {{ _('You can <a href="%(link)s">go back to the release group page</a>.', link=url_for('release_group.entity', id=release_group.id)) }}
  </strong>
</p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>$('.match-link').tooltip()</script>
{% endblock %}
